# PlatformIO
.pio/
.vscode/
*.bin
*.hex
*.elf

# Fonts (Generated)
modules/displayManager/fonts/fonts.cpp

# Compiled Tools
tools/bdfconv/bdfconv

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class

# Local/Temporary Files
TODO.md
